[submodule "lib/codemirror"]
	path = lib/codemirror
	url = https://github.com/marijnh/CodeMirror2.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/jcc"]
	path = lib/jcc
	url = git@github.com:j3parker/jcc.git
[submodule "lib/less"]
	path = lib/less
	url = https://github.com/cloudhead/less.js.git
