table.RAM {
  font-family:monospace;
  font-size: 7pt;
  border:1px solid black;
  border-collapse: collapse;

}
th.RAM {
  font-weight: normal;
  width:0px;
  border-right: 1px solid black;
  text-align: right;
  padding-right: 5px;
}
td.RAM {
  width: 100%;
  padding-left: 10px;
}

#code    { background-color: #FFFFCC; }
#stack   { background-color: #CCCCFF; }
#unalloc { background-color: #CCCCCC; }
#heap    { background-color: #CCFFCC; }
#here    { background-color: #FFCCCC; }

#container {
  border: 1px solid gray;
  width: 80em;
  height: 90%;
  margin: auto;
}

#assembler {
  width: 40em;
  float: left;
  overflow: auto;
}

#vm {
  width: 40em;
  max-height: 30em;
  float:left;
  overflow: auto;
}

#console {
  margin: 0 auto;
}
