#sub-left {
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height: 100%;
  border-right:1px solid gray;
}
#sub-right {
  position:absolute;
  top:0;
  right:0;
  width:49%;
}
#container {
  height: 95%;
  width: 100%;
  overflow: hidden;
  position:relative;
}
