table.RAM {
  font-family:monospace;
  width: 100%;
  font-size: 8pt;
  border:1px solid black;
  border-collapse: collapse;
}
th.RAM {
  font-weight: normal;
  width:0px;
  border-right: 1px solid black;
  text-align: right;
  padding-right: 5px;
}
td.RAM {
  width: 100%;
  padding-left: 10px;
}
#code    { background-color: #FFFFDD; }
#stack   { background-color: #DDDDFF; }
#unalloc { background-color: #DDDDDD; }
#heap    { background-color: #DDFFDD; }
#here    { background-color: #FFDDDD; }
